<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SwissDotCom" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="ErrorLog" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="ComplusSetting" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <add key="UseCOM" value="true"/>
    <add key="UseCOMAvailability" value="true"/>

    <add key="SQLConnectionString" value="Data Source=192.168.10.201;Initial Catalog=AVANTIK_EDW_QA_240816;Persist Security Info=False;User ID=sa;Password=password"/>

    <!--<add key="SQLConnectionString" value="Data Source=BVO-ZRH-NSM-SQ\EDW_DEV;Initial Catalog=AVANTIK_EDW_QA;Persist Security Info=False;User ID=AVANTIK_EDW;Password=eDW_lOGIN"/>-->
    <!--<add key="RESTURL" value="http://localhost:8077/api/Booking/ReadBooking"/>-->
    <add key="RESTURL" value="https://localhost:7021/"/>


  </appSettings>
  <ComplusSetting>
    <add key="ComServer" value=""/>
    <add key="ComUser" value=""/>
    <add key="ComPassword" value=""/>
    <add key="ComDomain" value=""/>
  </ComplusSetting>
  <!--Cofiguration for swiss.com availability-->
  <SwissDotCom>
    <add key="Url" value="http://www.swiss.com/API/SwissServiceTest.asmx/SwissServiceTest.asmx"/>
    <add key="Password" value="tuttiMatti"/>
  </SwissDotCom>
  <!--Cofiguration for Error email log-->
  <ErrorLog>
    <add key="application" value="Web Service"/>
    <add key="airline" value="EDW"/>
    <add key="logtype" value="MAIL"/>
    <add key="SmtpServer" value="mail.mercator.asia"/>
    <add key="ErrorTo" value="asada.maneechan@bravo.aero"/>
  </ErrorLog>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="Custom.WSHTTPBinding.Configuration" maxBufferPoolSize="655360" maxReceivedMessageSize="655360">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="AvailabilityServiceBehaviors" name="Avantik.Web.Service.AvailabilityService">
        <endpoint address="" binding="wsHttpBinding" contract="Avantik.Web.Service.Contracts.IAvailabilityService" 
                  bindingConfiguration="Custom.WSHTTPBinding.Configuration">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="BookingServiceBehaviors" name="Avantik.Web.Service.BookingService">
        <endpoint address="" binding="wsHttpBinding" contract="Avantik.Web.Service.Contracts.IBookingService" 
                  bindingConfiguration="Custom.WSHTTPBinding.Configuration">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="SystemServiceBehaviors" name="Avantik.Web.Service.SystemService">
        <endpoint address="" binding="wsHttpBinding" contract="Avantik.Web.Service.Contracts.ISystemService" bindingConfiguration="Custom.WSHTTPBinding.Configuration">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
   
      <service behaviorConfiguration="ClientServiceBehaviors" name="Avantik.Web.Service.ClientService">
        <endpoint address="" binding="wsHttpBinding" contract="Avantik.Web.Service.Contracts.IClientService" bindingConfiguration="Custom.WSHTTPBinding.Configuration">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="FlightServiceBehaviors" name="Avantik.Web.Service.FlightService">
        <endpoint address="" binding="wsHttpBinding" contract="Avantik.Web.Service.Contracts.IFlightService" bindingConfiguration="Custom.WSHTTPBinding.Configuration">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AvailabilityServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="BookingServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SystemServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ClientServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="FlightServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true">

    <serviceActivations>
      <add service="Avantik.Web.Service.BookingService" relativeAddress="BookingService.svc" />
    </serviceActivations>
    </serviceHostingEnvironment>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>